<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="IEHUB Automation Testing">
    <test name="Test Automation">
        <parameter name="browserName" value="edge"/>
        <packages>
            <package name="Regression"></package>
        </packages>
        <classes>
            <class name="test.java.LoginTest"/>
        </classes>
    </test>
</suite>